.jumbotron {
	background-color: #436a88;
	margin: 0;
	position:fixed;
	width:100%;
	z-index: 1;
	padding: 15px 15px 30px 15px;

}
/**{
	border:1px solid black;
}*/
.float-left {
	float: left;
	margin:10px 10px;
}
.btn {
	float:right;
	margin:10px 10px;
}
#burgerImg {
	height:8%;
	width: 8%;
	margin-left:46%;
}
#burgerInput{
	font-size: 2.5em;
	margin-left:33.3%;
	margin-top:5px;
	text-align:center;
}

.title{
	background-color:#436a88;
	color:white;
	text-align: center;
	width:38%;
	margin-left:6%;
	border-radius: 50%;
}
.title-right{
	margin-left:12%;
}
body{
	background-image: url(/assets/images/background.jpg)
}
.burger-container{
	background-color: white;
	margin-left:10%;
	margin-right:10.25%;
}

.top-row{
margin-top:172.5px;
position:fixed;
width:92.5%;
z-index: 1;
}
.middle-row{
margin-top:250px;
}
.row{
	margin-bottom: 10px;
}
.faded{
	opacity: .5;
}
.burger-id-container{
	background-color:gray;
	width:15px;
	height:15px;
	text-align:center;
	border-radius: 30%;
	border:2px solid #436a88;
}
.burger-id{
	position:relative;
	bottom:20px;
	right:10px;
}
#github{
	color:white;
	position: relative;
	left: 10px;
	bottom: 130px;
}
